!!!
%html
  %head
    %title= "Gamma:#{controller.action_name}"
    - stylesheet_link_tag :all
    = javascript_include_tag "jquery"
    = javascript_include_tag "rails"
    = javascript_include_tag "application"
    = javascript_include_tag "jquery.progressbar.js"
    - csrf_meta_tag

  %body
    %p.notice= notice
    %p.alert= alert

    = yield
